*{
  font-family: sans-serif ;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgb(6, 6, 94),rgb(54, 6, 6),rgb(2, 2, 43));
  display: flex;
  align-items: center;
  justify-content: center;
}

#login_form{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  border-radius: 8px;
  gap: 30px;
  box-shadow: 5px 5px 8px rgba(0,0,0,336);
  height: fit-content;
  animation: dark-to-light 0.3s  ease-in-out;

}
#form_header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#form_header h1{
  font-size: 40px;
  position: relative;
}

#form_header h1::before{
  position: absolute;
  content: '';
  width: 40%;
  background-color: purple;
  height: 3px;
  bottom: 5px;
  border-radius: 5px;
}

#mode_icon{
  cursor: pointer;
  font-size: 20px;
}

#social-midia{
  display: flex;
  justify-content: space-around;
}

#social-midia img{
  width: 40%;
  align-items: center;
  margin-left: 80px;
}
#social-midia img:hover{
  transform: scale(1.2);
}
#inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.input-box label{
  font-size: 14px;
  color: rgb(15, 15, 15);
  curs
}
.input-field{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 3px;
  cursor: text;
  border-bottom: 1px solid rgb(6, 6, 7);
}
.input-field i{
  font-size: 18px;
  color: black;
}

.input-field input{
  border: none;
  background-color: transparent;
  width:260px;
  font-size: 18px;
  padding: 0px 5px;
}

.input-field input:focus{
  outline: none;
}

#forgot_password a{
  text-decoration: none;
  font-size: 12px;
  color: black;
}

#forgot_password a:hover{
  color: purple;
}

#login_button{
  border:none;
  background-color: red;
  color: black;
  padding: 7px;
  font-size: 18px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
}

#login_button:hover{
  transform: scale(1.05);
}

.dark#login_form{
  color: #fff;
  background-color: black;
  animation: light-to-dark 0.3s  ease-in-out;
}

.dark#login_form .input-field inputt,
.dark#login_form .input-field i{
  color: #fff;
}

@keyframes light-to-dark {
  0%{
    background-color: black;
  }
  100%{
    background-color: #fff;
  }
  
  
}




@keyframes light-to-dark {
  0%{
    background-color: #fff;
  }
  100%{
    background-color: black;
  }
  
  
}


  

